<fieldset class="solid">

    <input type="hidden" name="survey.accountid" value="${accountid!}">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> 读表时间 <span class="red">*</span> </label>
        <div class="col-sm-9">
            <div class="col-sm-5 input-group">
                <input type="text" name="survey.readdate" placeholder="读表时间" class="date-picker input-sm"
                       data-date-format="yyyy-mm-dd"/>
                <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> 读表数据 <span class="red">*</span> </label>
        <div class="col-sm-9">
            <div class="clearfix">
                <input type="text" class="input-sm col-xs-6" name="survey.value"/>
                <span class="help-inline col-sm-5 line-height-30">
                    <span class="">吨</span>
                </span>
            </div>
        </div>
    </div>

</fieldset>

<script>
    require(['base'], function (Base) {
        var date = $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        })
        //show datepicker when clicking on the icon
        .next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        console.log(date);
    });


</script>