
<div class="page-header">
    <h1>
        登记新用户
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <form method="post" class="form-horizontal" id="accountForm">
          <#include "_form.html" />
        </form>
    </div>
</div>

<script>
    require(['base', 'wcb-manage-util', 'bs-bootbox', 'validate'], function (Base, ManageUtil, bootbox) {
        $('#accountForm').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                'account.name':{
                    required: true
                },
                'account.tel':{ required: true },
                'account.card':{ required: true },
                // 'provCityAreaStreetChoice':{ required: true },
                'account.street':{ required: true },
                'account.communityname':{ required: true }
                /*'account.ridgepole':{ required: true },
                'account.household':{ required: true }*/
            },
            messages: {
                'account.name': {
                    required: "请输入户主姓名"
                },
                'account.tel':{ required: "请输入联系电话" },
                'account.card':{ required: "请输入卡号" },
                // 'provCityAreaStreetChoice':{ required: "请选择地区" },
                'account.street':{ required: "请选择街道" },
                'account.communityname':{ required: "请输入详细地址" }
                /*'account.ridgepole':{ required: "请输入详细地址" },
                'account.household':{ required: "请输入详细地址" }*/
            },
            submitHandler: function (form) {
                ManageUtil.submit('${base}/basicdata/account/save', $(form).serialize());
            }
        });
    });
</script>
