@charset "UTF-8";
/*精灵图中图标在横向的位置,0为左边,50%居中,100%为右边*/
/*是否在生成的精灵样式中包含图标的宽高*/
.choice-ganged-box {
  width: 100%;
  position: relative;
  display: inline-block;
}
.choice-ganged-box input {
  /*height: 30px;
  line-height: 30px;
  border: 1px solid #cccccc;
  padding-left: 5px;*/
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-color: white!important;
}

.choice-ganged-main {
  position: absolute;
  top: 33px;
  left: 0;
  background-color: white;
  border: 1px solid #d7d7d7;
  display: none;
  z-index: 2;
}
.choice-ganged-main.cur {
  display: block;
}
.choice-ganged-main .tabs {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #d7d7d7;
  font-size: 0;
}
.choice-ganged-main .tabs .tab {
  display: inline-block;
  margin: 5px 0 0 5px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  font-size: 12px;
}
.choice-ganged-main .tabs .tab.cur {
  border-bottom-color: white;
}
.choice-ganged-main .choice-content {
  padding: 10px;
  display: none;
}
.choice-ganged-main .choice-content.cur {
  display: block;
}
.choice-ganged-main .choice-content .item {
  float: left;
  width: 33.3%;
  text-align: center;
  margin-bottom: 10px;
}
.choice-ganged-main .choice-content .item a {
  text-decoration: none;
  color: #1e90ff;
}
.choice-ganged-main .choice-content .item a:hover {
  color: #0583ff;
}
