<div class="page-header">
    <h1>
    ${(account.name)!}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            缴费
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name"> 卡号 </div>
                <div class="profile-info-value">
                    <span>${(account.card)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 地区 </div>
                <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>${(account.provinceName)!}</span>
                    <span>${(account.cityName)!}</span>
                    <span>${(account.areaName)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 街道 </div>
                <div class="profile-info-value">
                    <span>${(account.streetName)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 详细地址 </div>
                <div class="profile-info-value">
                    <span>${(account.addr)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 联系电话 </div>
                <div class="profile-info-value">
                    <span>${(account.tel)!}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt10 mb30">
    <div class="col-xs-6 col-xs-offset-2" id="payInfo_content">

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 ">
                <li class="active">
                    <a data-toggle="tab" href="#surveyList">抄表记录</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#payList" id="tab_add">缴费记录</a>
                </li>
            </ul>
            <div class="tab-content no-border">

                <div id="surveyList" class="tab-pane active">
                    <div class="widget-box transparent ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">抄表记录</h5>
                            <div class="widget-toolbar">
                                <div class="action-buttons inline">
                                    <button class="btn btn-xs btn-primary" id="btn-add-survey">录入抄表</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main" id="surveyList_page_content"></div>
                        </div>
                    </div>
                </div>
                <div id="payList" class="tab-pane">
                    <div class="widget-box transparent ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">缴费记录</h5>
                            <div class="widget-toolbar">
                                <div class="action-buttons inline">
                                    <button class="btn btn-xs btn-primary" id="btn-add-pay">缴费</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main" id="payList_page_content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['base', 'wcb-manage-util', 'bs-bootbox', 'validate'], function (Base, ManageUtil, Bootbox) {
        var accountId = '${(account.id)!}';
        var surveyTarget = '#surveyList_page_content';
        var payTarget = '#payList_page_content';
        ManageUtil.loadPage('${base}/pay/surveyList', {accountid:accountId}, null, surveyTarget);
        ManageUtil.loadPage('${base}/pay/payList', {accountid:accountId}, null, payTarget);

        var loadPayInfo = function (){
            ManageUtil.loadPage('${base}/pay/payInfo', {accountid:accountId}, null, '#payInfo_content');
        };
        loadPayInfo();

        var loadAddSurvey = function () {
            ManageUtil.loadModalForm('${base}/pay/getAddModal', {type: 1, accountid: accountId}, '录入抄表数据', function () {
                var $form = $('#surveyForm');
                $form.validate({
                    rules: {
                        'survey.readdate': {required: true, dateISO:true,
                            remote: {   // 远程验证 是否比最近一次抄表时间 大
                                type: "POST",
                                url: "${base}/pay/validateSurveyReaddate",
                                data: {
                                    accountid: accountId,
                                    sReaddate: function () { return $form.find('input[name="survey.readdate"]').val() }
                                }
                            }
                        },
                        'survey.value': {required: true, number:true, min:0,
                            remote: {   // 远程验证 是否比最近一次 读数 大
                                type: "POST",
                                url: "${base}/pay/validateSurveyValue",
                                data: {
                                    accountid: accountId,
                                    sValue: function () { return $form.find('input[name="survey.value"]').val() }
                                }
                            }
                        }
                    },
                    messages: {
                        'survey.readdate': {required: '请输入读表时间', dateISO:'请输入正确的日期格式', remote:'必须大于最近一次抄表时间'},
                        'survey.value': {required: '请输入读表数据', number:'请输入正确的读数', min:'负数?表有问题吧?', remote:'读数比上一次还少了?表有问题吧?'}
                    }
                });
                if ($form.valid()) {
                    // 提交 surveyForm
                    ManageUtil.submit($form.attr('action'), $form.serialize(), function () {
                        loadPayInfo();
                    }, surveyTarget);
                } else {
                    return false;
                }
            });
        };
        var loadAddPay = function () {
            ManageUtil.loadModalForm('${base}/pay/getAddModal', {type: 2, accountid: accountId}, '缴费', function () {
                var $form = $('#payForm');
                $form.validate({
                    rules: {
                        'pay.money': {
                            required: true,
                            remote: { // 通过java 转Double 验证 金额是否合法, 是否大于0等
                                type: "POST",
                                url: "${base}/pay/validatePayMoney",
                                data: {
                                    money: function () { return $form.find('input[name="pay.money"]').val() }
                                }
                            }
                        }
                    },
                    messages: {
                        'pay.money': {required: '请输入金额', remote:'请输入正确的金额'}
                    }
                });
                if ($form.valid()) {
                    // 提交 payForm
                    ManageUtil.submit($form.attr('action'), $form.serialize(), function () {
                        loadPayInfo();
                    }, payTarget);
                } else {
                    return false;
                }
            });
        };

        $('#btn-add-survey').on('click', function (){
            loadAddSurvey();
        });

        $('#btn-add-pay').on('click', function (){
            loadAddPay();
        });
    });
</script>