<div class="page-header">
    <h1>
    ${(account.name)!}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            缴费
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name"> 卡号 </div>
                <div class="profile-info-value">
                    <span>${(account.card)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 地区 </div>
                <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>${(account.provinceName)!}</span>
                    <span>${(account.cityName)!}</span>
                    <span>${(account.areaName)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 街道 </div>
                <div class="profile-info-value">
                    <span>${(account.streetName)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 详细地址 </div>
                <div class="profile-info-value">
                    <span>${(account.addr)!}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 联系电话 </div>
                <div class="profile-info-value">
                    <span>${(account.tel)!}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 ">
                <li class="active">
                    <a data-toggle="tab" href="#surveyList">抄表记录</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#payList" id="tab_add">缴费记录</a>
                </li>
            </ul>
            <div class="tab-content no-border">

                <div id="surveyList" class="tab-pane active">
                    <div class="widget-box transparent ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">抄表记录</h5>
                            <div class="widget-toolbar">
                                <div class="action-buttons inline">
                                    <button class="btn btn-xs btn-primary" id="btn-add-survey">录入抄表</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main" id="surveyList_page_content"></div>
                        </div>
                    </div>
                </div>
                <div id="payList" class="tab-pane">
                    <div class="widget-box transparent ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">缴费记录</h5>
                            <div class="widget-toolbar">
                                <div class="action-buttons inline">
                                    <button class="btn btn-xs btn-primary" id="btn-add-pay">缴费</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main" id="payList_page_content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['base', 'wcb-manage-util', 'bs-bootbox'], function (Base, ManageUtil, Bootbox) {
        var accountId = '${(account.id)!}';
        var surveyTarget = '#surveyList_page_content';
        var payTarget = '#payList_page_content';
        ManageUtil.loadPage('${base}/pay/surveyList', {accountid:accountId}, null, surveyTarget);
        ManageUtil.loadPage('${base}/pay/payList', {accountid:accountId}, null, payTarget);

        var loadAddSurvey = function (){
            $.ajax({
                url:"${base}/pay/getAddModal" ,
                data: {type:1, accountid:accountId},
                type:'POST',
                dataType:'HTML',
                success:function( result ){
                    if(result){
                        Bootbox.confirm({
                            title : '录入抄表数据',
                            message: result,
                            buttons: {
                                confirm: {
                                    label: "保存",
                                    className: "btn-primary btn-xs"
                                },
                                cancel: {
                                    label: "取消",
                                    className: "btn-xs"
                                }
                            },
                            callback: function(result) {
                                if(result) ManageUtil.submit($('#surveyForm').attr('action'), $('#surveyForm').serialize(), null, surveyTarget);
                            }
                        });
                    }
                }
            });
        };
        var loadAddPay = function (){
            $.ajax({
                url:"${base}/pay/getAddModal" ,
                data: {type:2, accountid:accountId},
                type:'POST',
                dataType:'HTML',
                success:function( result ){
                    if(result){
                        Bootbox.confirm({
                            title : '缴费',
                            message: result,
                            buttons: {
                                confirm: {
                                    label: "保存",
                                    className: "btn-primary btn-xs"
                                },
                                cancel: {
                                    label: "取消",
                                    className: "btn-xs"
                                }
                            },
                            callback: function(result) {
                                if(result) ManageUtil.submit($('#payForm').attr('action'), $('#payForm').serialize(), null, payTarget);
                            }
                        });
                    }
                }
            });
        };

        $('#btn-add-survey').on('click', function (){
            loadAddSurvey();
        });

        $('#btn-add-pay').on('click', function (){
            loadAddPay();
        });
    });
</script>