
<div class="page-header">
    <h1>
        用户缴费
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            在下面的列表中找到用户,进行操作
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box transparent ui-sortable-handle">

            <div class="widget-header">
                <h5 class="widget-title"> 用户列表 </h5>
                <div class="input-group col-xs-4 mb20 mt10">
                    <input type="text" class="form-control search-query" placeholder="输入姓名或者卡号或者电话号码进行查询"
                           id="search-account-input" value="${search!}">
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-info btn-white" id="btn-search">
                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                            查询
                        </button>
                    </span>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main" id="table_div">
                    <table id="" class="table table-hover">
                        <thead>
                        <tr>
                            <#--<th class="center"  width="10%">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>-->
                            <th width="20%">户主姓名</th>
                            <th width="">街道</th>
                            <th width="">地址</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                            <#list pageData.list as item>
                            <tr>
                                <#--<td class="center">
                                    <label class="position-relative">
                                        <input type="checkbox" class="ace item" value="${item.id!}">
                                        <span class="lbl"></span>
                                    </label>
                                </td>-->
                                <td>${item.name!}</td>
                                <td>${item.areaName!}</td>
                                <td>${item.addr!}</td>

                                <td>
                                    <#--<div class="action-buttons">
                                        <a class="blue btn-view-row" href="javascript:void(0)" title="" data-item="${item}"
                                           data-rel="tooltip" data-original-title="查看">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                    </div>-->
                                    <button class="btn btn-xs btn-info btn-view-row" data-id="${item.id}"
                                            data-rel="tooltip" data-original-title="查看缴费">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </button>
                                </td>

                            </tr>
                            </#list>

                        </tbody>
                    </table>

                    <#include "/views/common/_paginate-manage.html" />
                    <@paginate currentPage = pageData.pageNumber totalPage = pageData.totalPage actionUrl = "${base}/pay/accountList?search=${search!}&cPage=" />
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    require(['base', 'wcb-manage-util', 'bs-bootbox'], function (Base, ManageUtil, bootbox) {

        $('.btn-view-row').on('click', function (){
            var id = $(this).attr('data-id');
            ManageUtil.loadPage('${base}/pay/main', {accountid:id});
        });

        $('#btn-search').on('click', function (){
            var searchStr = $('#search-account-input').val();
            if(searchStr) ManageUtil.loadPage('${base}/pay/accountList', {search:searchStr});
        })
    });
</script>
