<form action="${base}/manage/usergroup/save" method="post" class="form-horizontal" id="usergroupForm">
    <#include "_form.html" />
</form>

<#--<script>-->
    <#--function update(){-->
        <#--$.ajax({-->
            <#--url:"${base}/manage/usergroup/save" ,-->
            <#--type:'POST',-->
            <#--data: $("#usergroupForm").serialize() ,-->
            <#--dataType:'json',-->
            <#--success:function( result ){-->
                <#--if(result.code == 200){-->
                    <#--// 成功-->
                <#--}else{-->
                <#--}-->
            <#--}-->
        <#--});-->
    <#--}-->
<#--</script>-->